.title {
  font-size: 30px;
  font-weight: bold;
  line-height: 42px;
  color: #333;
  padding: 53px 30px 42px;
  width: 100%;
  box-sizing: border-box;
}

.content {
  width: 100%;
  padding: 0 30px;
  box-sizing: border-box;
}